---
---

body {
	background-color: #FFF;
}

h1 {
	color: #76323F;
}

#about h1 {
	color: #FFF;
}

.introduction {
	background-image: url("{{ site.baseurl }}/img/background-board.jpg");
	background-size: 100% auto;
	padding: 2.5rem;
}

.label {
	background: none;
}

.bio {
	background: #565656;
}

hr {
	border: solid 0.5px #565656;
	width: 50%;
}

.card {
	border: none;
	margin: 5% 0%;
	height: auto;
	border-radius: 0;
}

.card-text{
    font-size:19px;
}

.card-img-top {
	border-radius: 0;
	opacity: 1;
	transition: .4s ease;
	backface-visibility: hidden;
}

.card-img-overlay {
	transition: .4s ease;
	opacity: 0;
}

.card:hover .card-img-top {
	opacity: .1;
}

.card:hover .card-img-overlay {
	opacity: 1;
}

.navbar {
	color: #565656;
	width: 100%;
	background: none;
}

a, a:hover {
	color: #565656;
	text-decoration: none;
}

a:hover {

}
