html {
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background: linear-gradient(to top right, #36d1dc 0%, #5b86e5 80%) fixed;
}

.texture {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  background: url('https://ui-ex.com/images/transparent-triangle-texture-4.png');
  /* opacity: 0.8; */
  z-index: -100;
}

.content {
  padding: 56px 0 0 0;
}


/* Landing Page */

.masthead {
  height: 100vh;
  min-height: 500px;
}

.about, .resume {
  background: #FFF;
}


/* Navigation */


/* About */
.highlight-about {
	padding: 2.5em 0;
}

.projects-clean, .resume-clean {
	padding: 5em 0em;
}

.project-masthead {
  height: 20vh;
  min-height: 300px;
}

.projects .item {
	padding-top: 1.5em;
}

.projects .name {
	padding-top: 0.5em;
}

.projects .item .description {
	height: 8em;
}

.projects a {
	color: #FFF;
	/* text-decoration: underline; */
}



.highlight-about .intro, .highlight-about .image {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
}
