---
layout: default
title: Portfolio
---

<!-- Note: Change name to right side of navbar and keep name on right in mobile
	Add Resume
	Instead of contact form in flow of UI, make it a modal
	Sidebar in projects page will look fine as a card
-->

<!-- Header-->
<header class="masthead">
	<div class="container h-100">
		<div class="row h-100 align-items-center">
			<div class="col-12 text-center text-light">
				<h1 class="font-weight-light">Learning to be a better developer</h1> <!-- Note: Find a different tagline -->
				<div class="masthead-subtitle" style="opacity: 0.7;">
					<p class="lead">Student</p>
					<hr style="background: #FFF; width: 7rem;">
					<p class="lead">Web Designer</p>
					<hr style="background: #FFF; width: 12rem;">
					<p class="lead">Developer</p>
					<hr style="background: #FFF; width: 7rem;">
				</div>
			</div>
		</div>
	</div>
</header>

<!-- About -->
<section id="about" class="about">
	<div class="highlight-about">
		<div class="container">
			<div class="row">
				<div class="col-md-8 intro">
					<!-- <div class="intro"> -->
						<h2>Hi, I'm Jacob.</h2>
						<p>I am a junior at VCU studying to receive my Bachelor's Degree in Computer Science.
						In my free time, I enjoy developing my own personal projects, crafting with my fiancee, Ashley, and spending time with her dogs.</p>

						<p>In my junior year of high school, I decided to take an Oracle class. This is where I first started learning to code and really developed a passion for it.
							This class landed me two internships and taught me invaluable lessons in programming, professionalism, and independent learning.
							Since then, I have continued feeding my insatiable appetite for programming.</p>
						<!-- <p>One day, I'd love to create my own blog. If I ever do, I'll likely link it here and toss is under projects as well.</p>
						<a class="btn btn-primary" role="button" href="#">Read Blog</a> -->
						<p>I hope you enjoy the site.</p>
						<p>-Jacob</p>
					<!-- </div> -->
				</div>
				<div class="col-sm-4 image">
					<img src="{{site.baseurl}}/img/jacob.jpg" alt="" width="100%" style="border-radius: 50%;">
				</div>
			</div>
		</div>
	</div>

</section>

<!-- Projects -->
<section id="projects" class="projects">
	<div class="projects-clean text-light">
		<div class="container">
			<div class="intro">
				<h1 class="text-center">Projects</h1>
				<!-- <p class="text-center">Creating projects is one of the best ways to learn. Here are a few of the projects I've completed over the years.</p> -->
			</div>
			<div class="row projects justify-content-center">
				<!-- Note: Create cleaner images for each project instead of using screenshots -->
				{% assign projects = site.projects | sort: 'name'| reverse %}
				{% for project in projects %}
				<div class="col-sm-6 col-lg-4 item">
					<a href="{{ site.baseurl }}{{ project.url }}">
					<img class="img-fluid" src="{{ site.baseurl }}/img/{{ project.image }}" alt="">
					<h3 class="name">{{ project.title }}</h3>
					</a>

					<div class="description">{{ project.excerpt }}</div>
				</div>

				<!-- Note: Remove excerpt and add read more button instead
				Not sure if button will look better inside picture or below title
				-->

				<!-- <div class="col-sm-6 col-lg-4 item">
					<div class="card">
						<img class="img-fluid card-img-top" src="{{ site.baseurl }}/img/{{ project.image }}" alt="">
					  <div class="card-body text-dark">
							<h5 class="card-title">{{ project.title }}</h5>
					    <p class="card-text">{{ project.excerpt }}</p>
					  </div>
					</div>
				</div> -->
				{% endfor %}
			</div>
	</div>
</section>

<!-- Resume -->
<section id="resume" class="resume">
	<div class="resume-clean">
		<div class="container">
			<div class="intro">
				<h1 class="text-center">Resume</h1>
				<!-- <p class="text-center">Creating projects is one of the best ways to learn. Here are a few of the projects I've completed over the years.</p> -->
			</div>
			<dl class="row" style="padding-top:1.5em;">

				<!-- Experience -->
				<dt class="col-sm-3"><h2><u>Experience</u></h2></dt>
				<dd class="col-sm-7">
					{% for job in site.data.resume.experience %}
					<div class="resume-item" style="border-left: 1px solid #DDD; padding-left: 1em;">
						<h4>{{ job.company }}</h4>
						<h5 class="text-muted">{{ job.title }} |<small class="text-muted"> {{ job.timeframe }}</small></h5>
						{{ job.description }}
						<ul>
							{% for point in job.points %}
								<li>{{ point }}</li>
							{% endfor %}
						</ul>
					</div>
					{% endfor %}
				</dd>

				<span class="col-sm-11" style="margin-bottom: 1em;"><hr></span>

				<!-- Education -->
				<dt class="col-sm-3"><h2><u>Education</u></h2></dt>
				<dd class="col-sm-7">
					{% for institute in site.data.resume.education %}
					<div class="resume-item" style="border-left: 1px solid #DDD; padding-left: 1em; padding-top: 1em;">
						<h4>{{ institute.title }}</h4>
						<h5 class="text-muted">{{ institute.credential }} |<small class="text-muted"> {{ institute.timeframe }}</small></h5>
						<p>{{institute.description}}</p>
					</div>
					{% endfor %}
				</dd>

				<span class="col-sm-11" style="margin-bottom: 1em;"><hr></span>

				<!-- Accomplishments -->
				<dt class="col-sm-3"><h2><u>Accomplishments</u></h2></dt>
				<dd class="col-sm-7">
					{% for accomplishment in site.data.resume.accomplishments %}
					<div class="resume-item" style="border-left: 1px solid #DDD; padding-left: 1em; padding-top: 1em;">
						<h4><a href="{{ accomplishment.url }}" target="_blank">{{ accomplishment.title }}</a></h4>
						<h5 class="text-muted"><small class="text-muted"> {{ accomplishment.time }}</small></h5>
					</div>
					{% endfor %}
				</dd>

				<span class="col-sm-11" style="margin-bottom: 1em;"><hr></span>

				<!-- Skills -->
				<dt class="col-sm-3"><h2><u>Skills</u></h2></dt>
				<dd class="col-sm-7">
					{% for event in site.data.resume.timeline %}
						<div class="resume-item" style="border-left: 1px solid #DDD; padding-left: 1em; padding-top: 1em;">
							<h4>{{ event.time }}</h4>
							<ul class="list-unstyled">
								{% for skill in event.skills %}
								<li><h5 class="text-muted"><small>{{ skill }}</small></h5></li>

								{% endfor %}

							</ul>

							<!-- <h5 class="text-muted">{% for skill in event.skills %} | {{ skill }}{% endfor %}</h5> -->
						</div>
					{% endfor %}
				</dd>

			</dl>

		</div>
	</div>
</section>
