<section id="about">
	<div class="row bio">
		<div class="col-sm-5">
			<img src="{{ site.baseurl }}/img/jacob-profile.png" width="80%" style="border-radius:50%;">
		</div>
		<div class="col-sm-7">
			<h3>About Me</h3>
			<p>I am currently finishing my Associate's Degree in General Studies with a concentration in Computer Sciencea at John Tyler Community College. I am planning on transferring into VCU's college of Engineering to complete a bachelor's degree in Computer Science. As of now, my programming experience varies from having numerous web development projects under my belt to having done light databasing and learning Java. Regardless of the have enjoyed gaining experience in all of the areas of software development that I have encountered.</p>
			<p>My love for computer science started in my junior year of high school when I decided to take a class in Oracle Databasing at the Chesterfield Career & Technical Center. There I was introduced to SQL, HTML, and CSS. My love for programming started there and has only continued into my college and adult life. As a result of in-class interviews while still in high-school, I have had the wonderful opportunity to serve IT internships at the Science Museum of Virginia as well as Allen & Allen.</p>
		</div>
	</div>
</section>