<div class="row" id="about">
	<div class="col" style="text-align:center;">
		<!-- Intentionally left blank-->
	</div>
	<div class="col-sm-8" style="text-align:center;">
		<h1>Jacob Helton</h1>
		<hr>
		<h4 style="color:#777">Student, Web Designer, Budding Developer</h4>
	</div>
	<div class="col" style="text-align:center;">
	</div>
</div>


<div class="row">
	<div class="col-sm-5">
		<img src="img/jacob.jpg" width="100%">
	</div>
	<div class="col-sm-7">
		<h4 style="color: #37518F;">About Me</h4>
		<p style="color: #3D69A7;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p style="color: #3D69A7;">Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut placerat. Id velit ut tortor pretium viverra. Amet risus nullam eget felis eget nunc. At in tellus integer feugiat. Sagittis orci a scelerisque purus semper eget duis at. Consectetur purus ut faucibus pulvinar elementum integer enim neque volutpat. Erat velit scelerisque in dictum non consectetur. Amet nisl purus in mollis nunc sed</p>
	</div>
</div>