<section id="about">
    <div>
        <h1 class="highlight">About me</h1>
        <p>
            I found my love for coding in high school, but I have been a tinkerer all my life. 
            <br>
            As a software developer that is constantly learning, I spend much of my free time designing, prototyping, and developing new ideas that I am passionate about.
        </p>
    </div>
    
    <div>
        <h1 class="highlight">Follow me</h1>

        <div class="social">
            <a href="https://www.linkedin.com/in/jacob-helton/" target="_blank">
                <img src="{{ site.baseurl }}img/LI-In-Bug.png" alt="LinkedIn Profile">
            </a>
            <a href="https://github.com/JacobHelton57" target="_blank">
                <img src="{{ site.baseurl }}img/GitHub-Mark-64px.png" alt="Github Profile">
            </a>
            <a href="https://codepen.io/jacobhelton57" target="_blank">
                <img src="{{ site.baseurl }}img/codepen-white.png" alt="Codepen Profile">
            </a>
        </div>

        <a href="{{ site.baseurl }}docs/Jacob-Helton-Resume.pdf" target="_blank"><button class="button-round">
            <svg height="16" class="octicon octicon-download" viewBox="0 0 16 16" version="1.1" width="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.47 10.78a.75.75 0 001.06 0l3.75-3.75a.75.75 0 00-1.06-1.06L8.75 8.44V1.75a.75.75 0 00-1.5 0v6.69L4.78 5.97a.75.75 0 00-1.06 1.06l3.75 3.75zM3.75 13a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5z"></path></svg>
            <span>Download Resume</span>
        </button></a>
        <br>
        <a href="mailto:jacobhelton57+portfolio@gmail.com?subject=RE: Portfolio - ">
            <button class="button-round secondary">
                <svg height="16" class="octicon octicon-mail" viewBox="0 0 16 16" version="1.1" width="16" aria-hidden="true"><path fill-rule="evenodd" d="M1.75 2A1.75 1.75 0 000 3.75v.736a.75.75 0 000 .027v7.737C0 13.216.784 14 1.75 14h12.5A1.75 1.75 0 0016 12.25v-8.5A1.75 1.75 0 0014.25 2H1.75zM14.5 4.07v-.32a.25.25 0 00-.25-.25H1.75a.25.25 0 00-.25.25v.32L8 7.88l6.5-3.81zm-13 1.74v6.441c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V5.809L8.38 9.397a.75.75 0 01-.76 0L1.5 5.809z"></path></svg>
                <span>Contact Me</span></button>
        </a>
    </div>
    <div></div> <!-- Placeholder column -->
</section>