<header>
    <a href="{{site.baseurl}}" class="logo"><strong>Jacob Helton</strong></a>
    <nav>
        <!-- <img src="{{site.baseurl}}img/menu.svg" class="menu" alt="Menu"> -->

        <ul>
            <li><a href="{{site.baseurl}}" class="{%if page.url == '/'%}active{%endif%}">Home</a></li>
            <li><a href="{{site.baseurl}}#projects" class="{% if page.url contains 'projects' %}active{%endif%}">Work</a></li>
            <li class="{%if page.url contains '#about'%}active{%endif%}"><a href="{{site.baseurl}}#about">About</a></li>
            <!-- <li><a href="{{site.baseurl}}#contact">Contact</a></li> -->
        </ul>
    </nav>
</header>