<!DOCTYPE html>
<html>
<head>
	<title>Jacob Helton Portfolio</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/master.css">
</head>

<body>
	<div class="container-fluid"> <!-- Container for body -->
		<!-- Nav bar -->
		{% include nav.html %}
		<!-- Insert content here -->
		{{content}}
	</div>
</body>
</html>