---
layout: default
---

<h1 class="watermark">{{page.title}}</h1>

<section id="blog">
    <div style="display:inline-block;">
        <h1 class="highlight">{{ page.heading }}</h1>
        <h2 class="highlight">{{ page.content }}</h2>
        {% if page.tags != ''%}
        <ul class="tags">
            {% for tag in page.tags %}
                <li>{{tag}}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="projects">
            <div class="project">
                <button class="button-round"><a href="{{page.button1link}}" target="_blank">{{page.button1text}}</a></button>
                <button class="button-round secondary"><a href="{{page.button2link}}" target="_blank">{{page.button2text}}</a></button>
            </div>
        </div>
    </div>
</section>

{% if page.screenshots != '' %}
<section id="screenshots">
    <h1 class="highlight">Screenshots</h1>
    <div class="screenshots">
        {% for path in page.screenshots %}
        <div class="shot">
            <img src="{{site.baseurl}}img/{{path}}">
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}